<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
<body>

{% block header %}
  <h1>{% block title %}New Post{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="title">Title</label>
    <input class="form-control" name="title" id="title" value="{{ request.form['title'] }}" required>
    <label for="body">Body</label>
    <textarea class="form-control" name="body" id="body">{{ request.form['body'] }}</textarea>
    <input class="btn btn-primary btn-lg" type="submit" value="Save">
  </form>
{% endblock %}
</body>