<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
<body>

{% block header %}
  <h1>{% block title %}Edit "{{ post['title'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label class="label label-primary" for="title">Title</label>
    <input class="form-control" name="title" id="title"
      value="{{ request.form['title'] or post['title'] }}" required>
    <label class="label label-primary" for="body">Body</label>
    <textarea class="form-control" name="body" id="body">{{ request.form['body'] or post['body'] }}</textarea>
    <input class="btn btn-primary btn-lg" type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('blog.delete', id=post['id']) }}" method="post">
    <input class="btn btn-primary btn-lg" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}
</body>